.divleft-style{
    padding: 115px;
    position: relative;
    bottom: 657px;
    right: -37px;
}
.Artist-heading {
    font-size: .625rem;
    line-height: 2.6;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #00b69d;
    position: relative;
    top: -1336px;
    left: 621px;
}
.stylehead{
    width: 30%;
    float: right;
    position: relative;
    bottom: 1334px;
    right: 294px;
    font-size: 1.0625rem;
    line-height: 1.9;
    color: rgba(185, 215, 255, 0.5);
}
.main-cont-style{

    font-family: California,Times,Georgia,serif;
    color: #fff;
    font-size: 3.5rem;
    line-height: 1.05;
    text-shadow: 0 0 42px #2f9d9c;
    transform: rotate(-20deg);
    position: relative;
    bottom: 1508px;
    left: 372px;
}
.img4:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
    0%{transform: translate(1px, 1px)rotate(0deg);}
    10%{transform: translate(-1px, -2px)rotate(-1deg);}
    20%{transform: translate(-3px, 0px)rotate(1deg);}
    30%{transform: translate(3px, 2px)rotate(0deg);}
    40%{transform: translate(1px, -1px)rotate(1deg);}
    50%{transform: translate(-1px, 2px)rotate(1deg);}
    60%{transform: translate(-3px, 1px)rotate(0deg);}
    70%{transform: translate(3px, 1px)rotate(-1deg);}
    80%{transform: translate(-1px, -1px)rotate(1deg);}
    90%{transform: translate(1px, 2px)rotate(0deg);}
    100%{transform: translate(1px, -2px)rotate(-2deg);}
}
.main-card-sty{
    font-family: Radikal,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    padding: 10px 42px 10px 106px;
    position: relative;
    font-size: 1.1875rem;
    line-height: 3.15;
    letter-spacing: -.04em;
    text-decoration: none;
    color: #0b1e38;
    z-index: 1;
    transition: color .2s cubic-bezier(.165,.84,.44,1);
}