.Card-festival{
   z-index: 1;
   position: absolute;
   top: 1986px ;
   left:253px;
}

.div-right {
    float: right;
    padding: 45px;
    text-align: cente
    }
.heading-style {
    font-size: 3.375rem;
    color: #fff;
    font-family: Domaine disp, Time, Georgin, serif;
    margin-bottom: 14px;
}
