.Card-festival{
   z-index: 1;
   position: absolute;
   top: 1986px ;
   left:253px;
}

.div-right {
    float: right;
    padding: 45px;
    text-align: cente
    }
.heading-style {
    font-size: 3.375rem;
    color: #fff;
    font-family: Domaine disp, Time, Georgin, serif;
    margin-bottom: 14px;
}
.style1{
    font-family: Radikal,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: .625rem;
    line-height: 2.6;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #00b69d;
}
.style2  {
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .01em;
    font: 16px Radikal,Helvetica,Arial,sans-serif;
    color: rgba;
    color: rgba(185,215,255,0.5);
}
.style3{
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .01em;
    font: 16px Radikal,Helvetica,Arial,sans-serif;
    color: rgba;
    color: rgba(185,215,255,0.5);
}