.main-div{
    background-color: #041b38;
    position: relative;
    z-index: 1;
    top: 157px;
}
.div-right-style{
    position: relative;
    bottom: 538px;
    float: right;
    right: 231px;
    width: 34%
}
.left-div-style{
    position: relative;
    left: 156px;
}
.main-sty{
    top: 174px;
    position: absolute;
    width: 51%;
}
.head-style{
    font-size: 3.375rem;
    color: #fff;
    font-family: "Domaine disp", Time, Georgin, serif;
    margin-bottom: 14px;
}
.Auth-style{
    font-weight: 700;
    font-size: .625rem;
    line-height: 2.6;
    letter-spacing: .4em;
    text-transform: uppercase;
    color: #00b69d;
    position: absolute;
    top: 139px;
}
.Bruce-style  > p{
    overflow: hidden;
    font-size: 1.0625rem;
    line-height: 1.9;
    max-height: 96.9px;
    color: rgba(185,215,255,0.5);
    font-family: Arial, Helvetica, sans-serif;
}

.main-sub-heading {
    transform: rotate(-20deg);
    color: #fff;
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: -133px;
    left: -173px;
}
.img:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
@keyframes shake {
     0%{transform: translate(1px, 1px)rotate(0deg);}
    10%{transform: translate(-1px, -2px)rotate(-1deg);}
    20%{transform: translate(-3px, 0px)rotate(1deg);}
    30%{transform: translate(3px, 2px)rotate(0deg);}
    40%{transform: translate(1px, -1px)rotate(1deg);}
    50%{transform: translate(-1px, 2px)rotate(1deg);}
    60%{transform: translate(-3px, 1px)rotate(0deg);}
    70%{transform: translate(3px, 1px)rotate(-1deg);}
    80%{transform: translate(-1px, -1px)rotate(1deg);}
    90%{transform: translate(1px, 2px)rotate(0deg);}
    100%{transform: translate(1px, -2px)rotate(-2deg);} 
}