.headsty {
    font-weight: 300;
    display: block;
    font-size: 1.0625rem;
    font-variant: small-caps;
    letter-spacing: .55em;
    text-transform: lowercase;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 15px;
}
.headsty1 {
    font-weight: 300;
    display: block;
    font-size: 1.0625rem;
    font-variant: small-caps;
    letter-spacing: .55em;
    text-transform: lowercase;
    color: hsla(0,0%,100%,.8);
    margin-bottom: 15px;
}
.mainpara{
    font-family: Domaine Disp,Times,Georgia,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #fff;
}
.mainpara1{
    font-family: Domaine Disp,Times,Georgia,serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 1.8;
    color: #fff;
}
.right-head-sty{
    width: 52%;
    font-family:  "Domaine Disp",Times,Georgia,serif;
    font-weight: 500;
    font-size: 3.4375rem;
    line-height: 1.1;
    letter-spacing: -.02em;
    color: #0b1e38;
    margin-bottom: 40px;
}
.rightsty{
    color: rgba(7,20,37,.8);
    font-size: 1rem;
}
.left-sty-top{
    width: 30%;
    position: relative;
    bottom: 356px;
}
.left-sty-bottom{
    width: 30%;
    position: relative;
    bottom: 338px;
}
.right-sty-div {
    position: relative;
    bottom: 640px;
    float: right;
    width: 56%;
    background-color: #fff;
    height: 608px;
}
.right-bottom-tag {
    border-left: 1px solid #fff;
    height: 251px;
    position: absolute;
    top: 438px;
}
.left-bottom-tag{
    position: absolute;
    top: 472px;
    left: 287px;
}
.imgsty{
    position: relative;
    left: -533px;
    width: 69% ;
    height: 32%;
}