.menu_list {
  float: right;
  width: 70%;
  position: relative;
  top: 68px;
  left: 386px;
}
.menu_list-item {
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
    
   }
   .menu_list li:hover {
       color: #095d60;
   }
   .menu_list-item li:hover::after{
    transform: scaleX(1);
    transform-origin: left;
   }

   .menu_button {
     background-color: #ff988c;
     border: none;
     color: white;
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     list-style-type: none;
     
     
   }
   .menu_button1 {
    background-color: #095d60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    right: 69px; 
    
   }
   .menu_button2{
    background-color: #095d60;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    list-style-type: none;
    position: absolute;
    right: 455px;
   }
  .dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    list-style-type: none;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: .5625rem;
    line-height: 3.3;
    letter-spacing: .5em;
    text-transform: uppercase;
    color: #0b1e38;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }
   .menu_list-item1 {
    list-style-type: none;
    display: inline-flex;
    padding: 20px;
    font: 15px Sans-serif;
   }
   .menu_list-item1:hover{
     color: #095d60;
   }
  
   .menu_button:hover + .menu_button1  {
     display: block;
   }
   .left{
    font: 10px Radikal,Helvetica,Arial,sans-serif;
    letter-spacing: .35em;
    text-transform: uppercase;
    color: #095d60;
    font-size: .625rem;
    font-weight: 900;
    padding-bottom: 14px;
    text-decoration: none;
   }
   a.left
   {
       position: relative;
   }
   
   a.left:before {
     content: "";
     position: absolute;
     width: 0;
     height: 2px;
     bottom: 0;
     left: 0;
     background-color: #095d60;
     visibility: hidden;
     transition: all 0.3s ease-in-out;
   }

   a.left:hover:before {
    visibility: visible;
    width: 100%;
  }
  .nav-head-sty{
    width: 10%;
    color: #095D60;
    position: absolute;
    bottom: 200px;
    left: 223px;
  }
  